<div class="container-fluid">
  <div class="row py-4">
    <div class="col-md-10">
      <div>* The report should be uploaded in the specified format -
        <a target="_self" href="http://localhost:8081/hackathon/file/download/template/Hackathon%20Events%20Summary.xlsx">
          Sample template
          <mdb-icon class="ml-2" fas icon="download"></mdb-icon>
        </a>
      </div>
      <div class="progress" *ngIf="percentDone">
        <div class="progress-bar" role="progressbar" [style.width]="percentDone+'%'" aria-valuemin="0"
          aria-valuemax="100">
          <span *ngIf="uploadSuccess">
            Upload Successful !!
          </span>
          <span *ngIf="!uploadSuccess && percentDone">
            Uploading {{percentDone}}%
          </span>
        </div>
      </div>
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" (change)="updatedSelectedFile($event.target.files)">
          <label class="custom-file-label">Upload report</label>
        </div>
        <button type="button" class="my-0 mr-0 py-0 px-3 float-right" mdbBtn color="primary" mdbWavesEffect
          (click)="uploadReport()">
          <mdb-icon fas icon="cloud-upload-alt"></mdb-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table" mdbTable>
          <thead class="thead-dark">
            <tr>
              <th *ngFor="let head of headElements" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let el of elements">
              <td data-toggle="tooltip" title={{el.eventId}}>
                {{el.eventId}}
              </td>
              <td data-toggle="tooltip" title={{el.month}}>
                {{el.month}}
              </td>
              <td data-toggle="tooltip" title={{el.baseLocation}}>
                {{el.baseLocation}}
              </td>
              <td data-toggle="tooltip" title={{el.beneficiaryName}}>
                {{el.beneficiaryName}}
              </td>
              <td data-toggle="tooltip" title={{el.venueAddress}}>
                {{el.venueAddress}}
              </td>
              <td data-toggle="tooltip" title={{el.councilName}}>
                {{el.councilName}}
              </td>
              <td data-toggle="tooltip" title={{el.project}}>
                {{el.project}}
              </td>
              <td data-toggle="tooltip" title={{el.category}}>
                {{el.category}}
              </td>
              <td data-toggle="tooltip" title={{el.eventName}}>
                {{el.eventName}}
              </td>
              <td data-toggle="tooltip" title={{el.eventDescription}}>
                {{el.eventDescription}}
              </td>
              <td data-toggle="tooltip" title={{el.eventDate}}>
                {{el.eventDate}}
              </td>
              <td data-toggle="tooltip" title={{el.totalVolunteers}}>
                {{el.totalVolunteers}}
              </td>
              <td data-toggle="tooltip" title={{el.totalVolunteerHours}}>
                {{el.totalVolunteerHours}}
              </td>
              <td data-toggle="tooltip" title={{el.totalTravelHours}}>
                {{el.totalTravelHours}}
              </td>
              <td data-toggle="tooltip" title={{el.overallVolunteeringHours}}>
                {{el.overallVolunteeringHours}}
              </td>
              <td data-toggle="tooltip" title={{el.livesImpacted}}>
                {{el.livesImpacted}}
              </td>
              <td data-toggle="tooltip" title={{el.activityType}}>
                {{el.activityType}}
              </td>
              <td data-toggle="tooltip" title={{el.status}}>
                {{el.status}}
              </td>
              <td data-toggle="tooltip" title={{el.pocId}}>
                {{el.pocId}}
              </td>
              <td data-toggle="tooltip" title={{el.pocName}}>
                {{el.pocName}}
              </td>
              <td data-toggle="tooltip" title={{el.pocContactNumber}}>
                {{el.pocContactNumber}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>